h1{
  color: rgb(40, 112, 255);
}

a:link,
a:visited {
  color: #2188e0;
  text-decoration: none;
}
a:hover {
  color: #006b57;
  text-shadow: 0 0 5px #ff0;
  text-decoration: underline;
}

a:hover img {
  box-shadow: 0 0 5px #ff0; /* Adds yellow glow around the image */
  transition: box-shadow 0s; /* Smooth transition */
}

i{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-nav {
  background-color: rgb(187, 255, 248);
  padding: 5px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  position: relative;
  box-sizing: border-box;
  height: 30px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0px 20px;
  padding: 0px;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}
.navbarOffsetMargin {
  padding-top: 45px;
}

nav a.active {
  color: #5d4f4f;
}

nav a:hover {
  text-decoration: underline;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#prologue{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
  background-color: rgb(187, 255, 248);
}

.footerContainer{
  width: 100%;
  padding: 0px 0px 0px;
}

.socialIcons{
  display:flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  margin: 10px;
  border-radius: 20%;
}

.socialIcons a i{
  font-size: 1.2em;
  color: #2188e0;
  opacity: 0.9;
}

.socialIcons a:hover{
  color: #006b57;
  text-shadow: 0 0 5px #ff0;
}

.footerNav{
  margin: 0px 0;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a{
  color: #2188e0;
  margin: 20px;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover{
  opacity: 1;
  color: #006b57;
  text-shadow: 0 0 5px #ff0;
  text-decoration: underline;
}

.footerBottom{
  background-color: rgb(163, 252, 243);
  padding: 5px;
  text-align: center;
}

.footerBottom p{
  color: rgb(0, 0, 0);
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 400;
  margin: 0px 0px;
}

.footerContainer .footerCite {
  font-style: italic; /* Use font-style for italic text */
  margin-left: 1in;
  margin-right: 1in;
}

.author {
  display: block; /* or use display: flex; */
  text-align: right;
  color: #5d4f4f;
}


@media (max-width:500px){
  .footerNav ul{
    flex-direction: column;
  }
  .footerNav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}