h1{
    color: rgb(40, 112, 255);
}

body{
    background: linear-gradient(rgb(221, 245, 255),rgb(218, 255, 218));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

i{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    float: right;
}

a:link,
a:visited {
  color: #2188e0;
  text-decoration: none;
}
a:hover {
  color: #006b57;
  text-shadow: 0 0 5px #ff0;
  text-decoration: underline;
}
